{% load static %}
<html>
    <head>
        <title>Nuli</title>
        <meta name="Nuli" content="Nuli WebApp">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href='{% static "img/logo.png" %}'>
        <link rel="stylesheet" href='{% static "style.css" %}'>
    </head>
{% if user.is_authenticated %}
    <body>
        <header>
            <a href="/"><img src='{% static "img/logo.png" %}' alt="Logo" width="100px"></a>
            <span><a href="/editar_perfil">Editar Perfil</a> | <a href="{% url 'logout' %}"> Salir</a></span>
        </header>
        <nav>
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/progreso"><li>Progreso</li></a>
                <a href="/entrenamientos"><li>Entrenamientos</li></a>
                <a href="/tu_entrenamiento"><li>Tu Entrenamiento</li></a>
                <a href="/calculadora_calorias"><li>Calculadora de calorías</li></a>
            </ul>
        </nav>
        <section>
            <h5>Si quiere cambiar de entrenamiento solo haz click en el título del entrenamiento que quieras</h5>
            <h5>Automáticamente se cambiará tu entrenamiento</h5>
            <h5>Si quieres consultar tu entrenamiento ve a la seccion <a href="/tu_entrenamiento" class="link">"Tu entrenamiento"</a></h5>
            {% for entrenamiento in entrenamientos %}
                <h1><a href="{{entrenamiento.get_absolute_url}}">{{entrenamiento}} | {{entrenamiento.num_dias}} días · {{entrenamiento.objetivo}}</a></h1>
                <div class="entrenamientos">
                {%for dia in entrenamiento.dias.all %}
                    <div class="entrenamiento">
                        <a href="{{ dia.get_absolute_url }}"><img src='/{{ dia.foto }}' alt=""></a>
                        <a href="{{ dia.get_absolute_url }}"><p>{{ dia.get_nombre }} · {{ dia.musculo }}</p></a>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </section>
    </body>
{% else %}
    <body>
        <header>
                <a href="/"><img src='{% static "img/logo.png" %}' alt="Logo" width="100px"></a>
                <span><a href="/cuentas/login">Inciar Sesión</a> | <a href="registro"> Registrarse</a></span>
        </header>
        <nav>
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/progreso"><li>Progreso</li></a>
                <a href="/entrenamientos"><li>Entrenamientos</li></a>
                <a href="/tu_entrenamiento"><li>Tu Entrenamiento</li></a>
                <a href="/calculadora_calorias"><li>Calculadora de calorías</li></a>
            </ul>
        </nav>
        <section>
            <p><a href="/registro">Registrate</a> o <a href="/cuentas/login">Inicia Sesión</a> para poder disfrutar de todas las funciones de Nuli</p>
        </section>
    </body>
{% endif %}
</html>