{% load static %}
<html>
    <head>
        <title>Nuli</title>
        <meta name="Nuli" content="Nuli WebApp">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href='{% static "img/logo.png" %}'>
        <link rel="stylesheet" href='{% static "style.css" %}'>
    </head>
{% if user.is_authenticated %}
    <body>
        <header>
            <a href="/"><img src='{% static "img/logo.png" %}' alt="Logo" width="100px"></a>
            <span><a href="/editar_perfil">Editar Perfil</a> | <a href="{% url 'logout' %}"> Salir</a></span>
        </header>
        <nav>
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/progreso"><li>Progreso</li></a>
                <a href="/entrenamientos"><li>Entrenamientos</li></a>
                <a href="/tu_entrenamiento"><li>Tu Entrenamiento</li></a>
                <a href="/calculadora_calorias"><li>Calculadora de calorías</li></a>
            </ul>
        </nav>
        <section>
            <h1 class="tituloentrenamiento">{{entrenamiento.nombre}}</h1>
            {% for dia in entrenamiento.dias.all %}
                <p class="diaentrenamiento">{{dia.get_nombre}}</p>
                {% for ejercicio in dia.ejercicios.all %}
                    <div class="ejercicioentreno">
                        <a href="{{ ejercicio.get_absolute_url }}"><img src='/{{ ejercicio.foto }}' alt=""></a>
                        <a href="{{ ejercicio.get_absolute_url }}"><p>{{ ejercicio.nombre }}</p></a>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>
    </body>
{% else %}
    <body>
        <header>
            <a href="/"><img src='{% static "img/logo.png" %}' alt="Logo" width="100px"></a>
            <span><a href="/cuentas/login">Inciar Sesión</a> | <a href="registro"> Registrarse</a></span>
        </header>
        <nav>
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/progreso"><li>Progreso</li></a>
                <a href="/entrenamientos"><li>Entrenamientos</li></a>
                <a href="/tu_entrenamiento"><li>Tu Entrenamiento</li></a>
                <a href="/calculadora_calorias"><li>Calculadora de calorías</li></a>
            </ul>
        </nav>
        <section>   
            <p><a href="/registro">Registrate</a> o <a href="/cuentas/login">Inicia Sesión</a> para poder disfrutar de todas las funciones de Nuli</p>           
        </section>
    </body>
{% endif %}
</html>