{% load static %}
<html>
    <head>
        <title>Nuli</title>
        <meta name="Nuli" content="Nuli WebApp">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href='{% static "img/logo.png" %}'>
        <link rel="stylesheet" href='{% static "style.css" %}'>
    </head>
{% if user.is_authenticated %}
    <body>
        <header>
            <a href="/"><img src='{% static "img/logo.png" %}' alt="Logo" width="100px"></a>
            <span><a href="/editar_perfil">Editar Perfil</a> | <a href="{% url 'logout' %}"> Salir</a></span>
        </header>
        <nav>
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/progreso"><li>Progreso</li></a>
                <a href="/entrenamientos"><li>Entrenamientos</li></a>
                <a href="/tu_entrenamiento"><li>Tu Entrenamiento</li></a>
                <a href="/calculadora_calorias"><li>Calculadora de calorías</li></a>
            </ul>
        </nav>
        <section>
            <form class="progreso_form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Ver Progreso</button>
            </form>
            <div class="progreso">
                <h2>{{ mes }}</h2>
                <h4>Días</h4>
                <div class="dias">
                    {% for i in dias%}
                        {% if dias|length == 31 %}
                            {% if i == 20 %}
                                <span style="padding-left: 0.4%;padding-right: 1.6%">{{i}}</span>
                            {% elif i > 19 %}
                                <span style="padding-left: 0.4%;padding-right: 1.22%">{{i}}</span>
                            {% elif i == 10 %}
                                <span style="padding-left: 0.8%;padding-right: 1.6%">{{i}}</span>
                            {% elif i > 9 %}
                                <span style="padding-left: 0.3%;padding-right: 1.55%">{{i}}</span>
                            {% else %}
                                <span style="padding-left: 1.2%;padding-right: 1.1%">{{i}}</span>
                            {% endif %}
                        {% elif dias|length == 30 %}
                            {% if i == 20 %}
                                <span style="padding-right: 1.6%">{{i}}</span>
                            {% elif i > 19 %}
                                <span style="padding-left: 0.4%;padding-right: 1.35%">{{i}}</span>
                            {% elif i == 10 %}
                                <span style="padding-left: 0.8%;padding-right: 1.5%">{{i}}</span>
                            {% elif i > 9 %}
                                <span style="padding-left: 0.3%;padding-right: 1.75%">{{i}}</span>
                            {% else %}
                                <span style="padding-left: 1.2%;padding-right: 1.15%">{{i}}</span>
                            {% endif %}
                        {% else %}
                            {% if i == 20 %}
                                <span style="padding-right: 1.6%">{{i}}</span>
                            {% elif i > 19 %}
                                <span style="padding-left: 0.4%;padding-right: 1.65%">{{i}}</span>
                            {% elif i == 10 %}
                                <span style="padding-left: 0.8%;padding-right: 1.5%">{{i}}</span>
                            {% elif i > 9 %}
                                <span style="padding-left: 0.3%;padding-right: 2%">{{i}}</span>
                            {% else %}
                                <span style="padding-left: 1.2%;padding-right: 1.4%">{{i}}</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="barras">
                    {% for i in separado %}
                        {% if i.1 == "0" %}
                            <div style="height: 0;color:black;"><p>{{i.1}}</p></div>
                        {% else %}
                            <div style="height: {{i.0}};color:white;"><p>{{i.1}}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>  
        </section>
    </body>
{% else %}
    <body>
        <header>
            <a href="/"><img src='{% static "img/logo.png" %}' alt="Logo" width="100px"></a>
            <span><a href="/cuentas/login">Inciar Sesión</a> | <a href="registro"> Registrarse</a></span>
        </header>
        <nav>
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="/progreso"><li>Progreso</li></a>
                <a href="/entrenamientos"><li>Entrenamientos</li></a>
                <a href="/tu_entrenamiento"><li>Tu Entrenamiento</li></a>
                <a href="/calculadora_calorias"><li>Calculadora de calorías</li></a>
            </ul>
        </nav>
        <section>   
            <p><a href="/registro">Registrate</a> o <a href="/cuentas/login">Inicia Sesión</a> para poder disfrutar de todas las funciones de Nuli</p>           
        </section>
    </body>
{% endif %}
</html>